
/* index.css */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Previne scroll horizontal global */
  background-color: #f9fafb;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

/* Esconder barra de rolagem para Chrome, Safari e Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Esconder barra de rolagem para IE, Edge e Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}
